* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

nav {
	width: 100%;
	position: sticky;
	top: 0;
	background-color: white;
}

.navLinks {
	display: flex;
	justify-content: flex-end;
}

.colorz a{
	color: #fff;
}

ul{
	margin: 0;
	padding: 0;
}

ul li {
	position: relative;
	list-style: none;
	display: inline-block;
	transition: background-color .8s;
}

ul li:hover {
	border-bottom: 2px solid blue;
	transition: background-color .8s;
}

nav ul li ul {
	position: absolute;
	left: 0;
	display: none;
}

nav ul li:hover ul {
	display: block;
}

nav ul li.open ul {
	display: block;
}

nav ul li ul li{
	display: block;
	width: 100px;
	background-color: cornflowerblue;
}

ul li a {
	color: black;
	text-decoration: none;
	display:block;
	padding: 20px;
	transition: color .2s;
}

ul li a:hover {
	color: black;
	transition: color .2s;
}

.toggle {
	width: 100%;
	padding: 10px 20px;
	background: #001f44;
	text-align: right;
	box-sizing: border-box;
	color: #fff;
	font-size: 30px;
	display: none;
}

@media screen and (max-width: 768px) {
	.toggle {
		display: block;
	}

	ul {
		width: 100%;
	}

	ul li {
		display: block;
		text-align: center;
	}

	li a{
    	display:block;
	}

	#respNav {
		display: none;
	}

	#respNav.open {
		display: block;
	}

	nav ul li:hover ul {
		position: relative;
		background-color: royalblue;
	}

	nav ul li ul li {
		border-bottom: 3px solid cornflowerblue;
		width: 100%;
	}

	/*nav ul li ul a {
		margin-left: -50px;
	}*/
}