* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
    font-family: 'Quicksand', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 24px;
}

p {
    line-height: 24px;
}

.logo a {
    text-decoration: none;
    color: #000;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 74px;
    padding: 0px 100px;
    box-sizing: border-box;
    transition: .3s ease;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
}

nav.black {
    background-color: rgba(0, 0, 0, 0.8);
    height: 74px;
    padding: 0px 100px;
}

nav .logo {
    height: 74px;
    font-size: 24px;
    transition: .3s ease;
    display: flex;
    padding-top: 5px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
    min-width: 143px;
    text-align: center;
}

nav ul li a {
    line-height: 80px;
    color: #000;
    /* padding: 12px 30px; */
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s ease;
}

#firstLie {
    display: flex;
    justify-content: center;
    padding-left: 85px;
}

#secondLie {
    display: flex;
    justify-content: center;
}

#thirdLie {
    display: flex;
    justify-content: center;
    padding-right: 20px;
}

#lastLie {
    display: flex;
    justify-content: center;
    padding-right: 25px;
}

nav ul li ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin-top: -6px;
}

#projects {
    /* background: red; */
    text-align: center;
}

#projects a {
    padding-bottom: 21.4px;
}

#subNav {
    display: none;
}

#subNav.active {
    display: block;
}

nav.black ul li ul li {
    background-color: white;
}

nav.black ul li a {
    color: #000;
}

nav ul li a:hover {
    border-bottom: 3px solid #197195;
    transition: 0.2s ease;
}

nav ul li a:focus {
    outline: none;
}

nav ul li a.active {
    background: #E2472F;
    color: #000;
    border-radius: 6px;
}

section.hero {
    width: 100%;
    height: 70vh;
    background: url("images/amazon.jpg") no-repeat;
    background-size: cover;
    background-size: 90%;
    background-position: center;
}

.content {
    width: 100%;
}

.infoSect {
    width: 80%;
    padding: 15px;
    padding-left: 250px;
    margin: 0 auto;
}

.infoSect p {
    width: 70%;
}

.researchSect {
    width: 100%;
}

.twoPics {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.twoPics img{
    min-width: 34%;
}

.images {
    width: 70%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.responsive {
    width: 100%;
    height: auto;
}

ul li {
    list-style: none;
}

#fun {
    display: none;
}

#openBtn {
    display: none;
}

.closeBtn {
    display: none;
}

.tryIt {
    width: 75%;
    display: flex;
    margin-top: 15px;
}

button {
    display: inline-block;
    border: 3px solid #197195;

    padding: 1rem 2rem;
    margin: auto;
    border-radius: 36px;
    text-decoration: none;
    background: #197195;
    box-shadow: 4px 4px 15px #515151;
    color: #ffffff;
    font-size: 1rem;
    
    cursor: pointer;
    text-align: center;

    transition: background 250ms ease-in-out, 
                border 250ms ease-in-out,
                transform 250ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}

button:hover {
    background: #223b4b;
    border: 3px solid #223b4b;
    outline: none;
}

button:active {
    transform: scale(0.79);
    transition: transform 250ms ease;
    outline: none;
}

.aboutMe {
    padding: 15px 25px;
}

button a {
    color: white;
    text-decoration: none;
}

.wrapper2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper2 h1 {
    width: 100%;
    text-align: center;
}

.contactz {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #197195;
    color: #fff;
    margin-top: 30px;
}

.contactFields {
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: black;
    margin-bottom: 30px;
}

.contactFields div{
    width: 65%;
    display: flex;
    flex-direction: column;
}

.contactInfo {
    width: 100%;
    background: #223b4b;
    display: flex;
    justify-content: center;
}

.myContact {
    width: 25%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.myContact a {
    margin: auto;
    margin-top: 5px;
    text-decoration: none;
    color: #fff;
}

.myContact i {
    color: #fff;
    text-decoration: none;
    font-size: 26px;
}

.myContact i:hover {
    color: #197195;
}

.contactForm {
    width: 100%;
    display: flex;
    color: white;
}

.contactForm form {
    margin: auto;
}

.contactForm input {
    width: 600px;
    height: 30px;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
}

.contactForm input::placeholder {
    font-family: 'Quicksand', sans-serif;
}

.resizer {
    padding: 15px;
    width: 600px;
    height: 100px;
    resize: vertical;
    overflow: auto;
    max-height: 110px;
    margin-top: 40px;
}

.resizer::placeholder {
    font-family: 'Quicksand', sans-serif;
}

.contactForm input:last-child {
    width: 50px;
    height: 30px;
    padding: 0;
    margin-top: 15px;
}

.contactFields div:last-child {
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
}

.contactFields div:last-child a {
    text-decoration: none;
    color: white;
    font-size: 26px;
    text-align: center;
    width: 30px;
}

.contactFields div:last-child div {
    width: 100%;
}

.contactFields div:last-child p {
    padding: 0;
    margin: 0;
}

.contactForm input[type=submit] {
    width: 600px;
    height: 60px;
    font-size: 18px;
    border-radius: 8px;
    background: #fff;
    border: none;
    box-shadow: 6px 6px 25px #515151;
    transition: all .8s;
    cursor: pointer;
}

.contactForm input[type=submit]:hover {
    border: none;
    transform: scale(0.9);
    transition: all .8s;
}

.infoSect {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.infoSect p {
    width: 60%;
    margin: auto;
}

.infoSect h1 {
    width: 60%;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #197195;
}

.researchSect {
    width: 100%;
    margin: auto;
}

.researchSect div {
    margin-top: 25px;
    margin-bottom: 25px;
}

.researchSect ul {
    width: 60%;
    margin: auto;
}

.researchSect ul li {
    width: 82%;
    margin: auto;
}

.images {
    width: 55%;
    margin: auto;
}

.twoPics {
    width: 50%;
    margin: auto;
    display: flex;
}

.tryIt {
    width: 60%;
    margin: auto;
    display: flex;
    margin-top: 15px;
}

@media screen and (max-width: 768px) {

    section.hero {
        height: 50vh;
        background: url("images/amazon.jpg") no-repeat;
        background-size: contain;
        background-position: center;
    }

    .content {
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    .infoSect {
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
    }
    
    .infoSect p {
        width: 80%;
        margin: auto;
    }

    .infoSect h1 {
        width: 80%;
        margin: auto;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .researchSect {
        width: 100%;
        margin: auto;
    }

    .researchSect div {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .researchSect ul {
        width: 90%;
        margin: auto;
    }

    .researchSect ul li {
        width: 82%;
        margin: auto;
    }

    .images {
        width: 80%;
        margin: auto;
    }

    .twoPics {
        width: 80%;
        margin: auto;
        display: flex;
    }

    .tryIt {
        width: 80%;
        margin: auto;
        display: flex;
        margin-top: 15px;
    }

    .transformer {
        display: inline-block;
        z-index: 10000;
    }
    
    .bar1,.bar2,.bar3 {
        width: 35px;
        height: 5px;
        background-color: #000;
        margin: 6px 0;
    }

    .barz1,.barz2,.barz3 {
        width: 35px;
        height: 5px;
        background-color: #000;
        margin: 6px 0;
    }

    .barz1 {
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .barz3 {
        margin-left: -2px;
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .barz2 {
        opacity: 0;
    }

    h1 {
        color: #197195;
    }

    a {
        text-decoration: none;
        color: #000;
    }

     /* Navigation */

     .closeBtn {
        display: block;
    }

    nav {
        flex-direction: column;
        display: none;
    }

    #fun {
        display: block;
        position: fixed;
        width: 0%;
        height: 100vh;
        overflow: hidden;
        top: 0;
        opacity: 0.97;
        background-color: white;
        z-index: 999999;
        transition: all .5s;
    }

    #fun.active {
        display: block;
    }

    .mobileHamburger {
        width: 100%;
        height: 10vh;
        top: 0;
        position: fixed;
        display: flex;
        justify-content: flex-end;
    }

    #openBtn {
        display: block;
        font-size: 24px;
        color: white;
        padding: 15px 25px;
    }

    .mobileNavUpper {
        width: 100%;
        height: 20vh;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5vh;
    }

    .upperLeftNav {
        height: 20vh;
        min-width: 200px;
        flex: 1;
    }

    .upperMidNav {
        height: 20vh;
        min-width: 33%;
        flex: 1;
    }
    
    .upperMidNav a {
        display: flex;
        flex-direction: column;   
    }

    .upperMidNav a .logoUp {
        width: 100%;
        height: 11vh;
        background: url("images/logo.jpg") no-repeat;
        background-size: contain;
        background-size: 30%;
        background-position: center;
        background-position-y: 10px;
    }

    .upperMidNav a .logoDown {
        width: 100%;
        height: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .logoDown h5 {
        margin: auto;
    }

    .upperRightNav {
        height: 20vh;
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: flex-end;
        padding: 15px 20px;
    }

    .mobileNavUpper a {
        font-size: 24px;
        color: #000;
    }

    .mobileNavLower a {
        font-size: 24px;
        color: #000;
    }

    .mobileNavLower {
        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        /* background-color: blue; */
    }
 
    .mobileNavLower div{
        margin: auto;
        min-width: 150px;
    }
    
    .mobileNavLower div a{
        margin-left: 12%;
        min-width: 150px;
        font-size: 22px;
    }
 
     #subSection {
         display: none;
     }
 
     #subSection.active {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 30px;
    }

    #subSection a {
        margin-bottom: 20px;
        width: 100%;
        color: #197195;
    }
 
     #subSection a:last-child {
         margin-bottom: 0px;
     }

    /* End Navigation */

    .contactz {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: #197195;
        color: #fff;
        margin-top: 30px;
    }

    .myContact {
        width: 33%;
        padding: 15px;
        display: flex;
        flex-direction: column;
    }

    .myContact a {
        color: #fff;
    }

    .removeOnMobile {
        display: none;
    }

    .contactForm {
        width: 100%;
        display: flex;
        color: white;
    }
    
    .contactForm form {
        margin: auto;
    }
    
    .contactForm input[type=email] {
        width: 400px;
        height: 30px;
        padding: 15px;
        margin-top: 30px;
        margin-bottom: 10px;
        font-family: 'Quicksand', sans-serif;
    }

    .contactForm input[type=submit] {
        width: 400px;
        height: 50px;
        font-size: 20px;
    }
    
    .resizer {
        width: 400px;
    }
    
    .contactInfo {
        flex-direction: column;
    }

    .myContact {
        width: 100%;
    }

    .contactz h1 {
        color: #fff;
    }
}

@media screen and (max-width: 415px) {

    section.hero {
        height: 40vh;
        background: url("images/amazon.jpg") no-repeat;
        background-size: cover;
        background-position: center;
    }

    /* Mobile Navigation Code */

    .mobileNavLower {
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: column;
    }

    .mobileNavLower div a{
        margin-left: 18%;
        min-width: 150px;
        font-size: 22px;
    }

    #subSection {
        text-align: left;
    }

    .upperLeftNav {
        height: 20vh;
        min-width: 28%;
        flex: 1;
        /* background: red; */
    }

    .upperMidNav {
        height: 20vh;
        min-width: 38%;
        flex: 1;
        /* background: blue; */
    }
    
    .upperMidNav a {
        display: flex;
        flex-direction: column; 
        /* background: green;   */
    }

    .upperMidNav a .logoUp {
        width: 100%;
        height: 9vh;
        background: url("images/logo.jpg") no-repeat;
        background-size: contain;
        background-size: 40%;
        background-position: center;
        background-position-y: 10px;
    }

    .upperMidNav a .logoDown {
        width: 100%;
        height: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* background: teal; */
    }

    .logoDown h5 {
        margin: auto;
        font-size: 18px;
    }

    h1 {
        font-size: 22px;
        color: #197195;
    }

    /* End of Mobile Nav */

    .infoSect {
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
    }
    
    .infoSect p {
        width: 80%;
        margin: auto;
    }

    .infoSect h1 {
        width: 80%;
        margin: auto;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .researchSect {
        width: 100%;
        margin: auto;
    }

    .researchSect ul {
        width: 100%;
        margin: auto;
        font-size: 14px;
    }

    .researchSect ul li {
        width: 80%;
        font-size: 14px;
        line-height: 22px;
        margin-left: 5%;
    }

    .twoPics {
        width: 80%;
        margin: auto;
        display: flex;
    }

    .contactForm input[type=email] {
        width: 300px;
        height: 30px;
        padding: 15px;
        margin-top: 30px;
        margin-bottom: 10px;
        font-family: 'Quicksand', sans-serif;
    }

    .contactForm input[type=submit] {
        width: 300px;
        height: 50px;
        font-size: 20px;
    }
    
    .resizer {
        width: 300px;
    }
}

@media screen and (max-width: 376px) {

    .images {
        width: 90%;
        margin: auto;
    }

    .mobileNavLower {
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        /* background-color: blue; */
    }

    .mobileNavLower div a{
        margin-left: 14%;
        min-width: 150px;
        font-size: 22px;
    }

    .upperLeftNav {
        height: 20vh;
        min-width: 25%;
        flex: 1;
        /* background: red; */
    }

    .upperMidNav {
        height: 20vh;
        min-width: 40%;
        flex: 1;
        /* background: blue; */
    }
    
    .upperMidNav a {
        display: flex;
        flex-direction: column; 
        /* background: green;   */
    }

    .upperMidNav a .logoUp {
        width: 100%;
        height: 9vh;
        background: url("images/logo.jpg") no-repeat;
        background-size: contain;
        background-size: 40%;
        background-position: center;
        background-position-y: 10px;
    }

    .upperMidNav a .logoDown {
        width: 100%;
        height: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* background: teal; */
    }

    .logoDown h5 {
        margin: auto;
        font-size: 16px;
    }

    h1 {
        font-size: 22px;
        color: #197195;
    }

    p {
        font-size: 14px;
    }

    .infoSect h1 {
        width: 90%;
        margin: auto;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .infoSect p {
        width: 90%;
    }

    .researchSect ul {
        width: 90%;
        margin: auto;
        padding: 1px;
    }

    .researchSect ul li {
        width: 85%;
        margin: auto;
        font-size: 14px;
    }

    .contactForm input[type=email] {
        width: 300px;
        height: 30px;
        padding: 15px;
        margin-top: 30px;
        margin-bottom: 10px;
        font-family: 'Quicksand', sans-serif;
    }

    .contactForm input[type=submit] {
        width: 300px;
        height: 50px;
        font-size: 20px;
    }
    
    .resizer {
        width: 300px;
    }
}