* {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

h1, h2, h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

@media only screen and (max-width: 376px) {

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  	width: 100vw;
  	height: 100vh;
  }

  .verification {
  	background-color: #fff;
  	width: 100vw;
    height: 100vh;
  	display: flex;
    flex-direction: column;
  }

  .box {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
  }

  .fa-chevron-left {
      color: #243672;
  }

  .one {
      width: 100%;
      height: 140px;
      padding: 15px 25px;
      color: #fff;
      display: flex;
      justify-content: space-between;
      background: url(../images/header.svg) no-repeat;
  }

    .one h3 {
        margin-top: 20px;
        font-family: 'Playfair Display', sans-serif;
        font-size: 24px;
    }

    .one a {
        color: #fff;
    }

    .one i {
        font-size: 20px;
    }

    .one .fa-circle {
        color: #feda6f;
        font-size: 9px;
        margin-left: -9px;
        margin-top: -97px;
    }

    .headingz {
        display: flex;
        flex-direction: column;
    }

    .headingz h5 {
        margin: auto;
        margin-top: -1px;
    }

    .two {
        width: 100%;
        padding: 0px 0px 25px 0px;
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        overflow: scroll;
        z-index: 1000;
        background: #fff;
    }

    .blueBar {
        width: 100%;
        height: 600px;
        background-image: linear-gradient(#243672, rgb(87, 110, 187));
        margin-top: 50px;
    }

    .three {
        width: 100%;
        min-height: 48px;
        display: flex;
        position: fixed;
        bottom: 0;
        background: #fff;
        border-top: 2px solid #ee3c96;
        z-index: 9999;
    }

    .three a {
        padding: 10px;
        margin: auto;
        display: flex;
    }

    .recent {
        width: 100%;
        height: 300px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        margin-top: -45px;
    }

    .recent h3 {
        margin-top: 20px;
        font-family: 'Source Sans Pro', sans-serif;
        color: #fff;
    }

    button {
        width: 90%;
        height: 35px;
        padding: 5px;
        font-size: 18px;
        border-radius: 6px;
        margin: 0 auto;
    }

    button {
        color: #fff;
        border: 2px solid rgb(255, 0, 127);
        background-color: rgb(255, 0, 127);
    }

    button a {
        color: #fff;
    }

    .recent button {
        background: linear-gradient(rgb(128, 194, 236), rgb(84, 169,178));
        height: 100px;
        border: none;
    }
    
    .recent a {
        font-style: italic;
        display: flex;
        flex-direction: column;
    }

    .btnDown {
        width: 100%;
        display: flex;
    }

    .downLeft {
        width: 70%;
    }

    .downRight {
        width: 50px;
        height: 50px;
        background: url(..//images/pigtip.svg) no-repeat;
        margin: auto;
    }

    .recent p {
        font-size: 12px;
        margin-left: 30px;
        margin-top: 7px;
        text-align: left;
        font-style: normal;
    }

    .recent h4 {
        margin-left: 30px;
        margin-top: 7px;
        text-align: left;
    }

    .alert {
        width: 100%;
        height: 89px;
        background: #feda6f;
        margin-top: -150px;
        display: flex;
    }

    .alleft {
        width:90%;
        height: 89px;
        padding: 5px 15px;
    }

    .alleft p {
        font-size: 15px;
        text-align: center;
        padding-bottom: 2px;
    }

    .alleft a {
        font-style: italic;
        margin-left: 90px;
    }

    .alright {
        width: 10%;
        height: 89px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px 15px 5px 0px;
    }

    .alright i {
        color: #000;
        font-size: 24px;
    }

    .box {
        width: 95%;
        height: 300px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        justify-content: space-between;
        /* box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.23); */
        background: #fff;
        margin: 0 auto;
    }

    .box hr {
        width: 80%;
        background: #7fbee8;
        margin: auto;
    }

    .boxOne {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
    }

    .boxTwo {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
    }

    .boxThree {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
    }

    .blueBar .box {
        width: 95%;
        height: 300px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        justify-content: space-between;
        box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.23);
        background: #fff;
        margin: 0 auto;
        margin-top: 40px;
    }

    .box .boxup {
        width: 100%;
        height: 50px;
        background: #eee;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        display: flex;
    }

    .box .boxdown {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .boxup .boxupleft {
        width: 80%;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 15px;
    }

    .boxupright {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .boxdown .trans {
        width: 98%;
        height: 50px;
        border-bottom: 1px solid #7fbee8;
        margin: 0 auto;
        display: flex;
    }

    .transOne {
        background: url(../images/food.svg) no-repeat;
        width: 50px;
        height: 50px;
        background-size: contain;
        background-size: 60%;
        background-position-x: 7px;
        background-position-y: 14px;
    }

    .transTwo {
        width: 90%;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 5px;
    }

    .transThree {
        flex: 1;
        height: 50px;
        padding: 12px;
    }

    #andTrans .transOne{
        background: url(../images/gas.svg) no-repeat;
        width: 50px;
        height: 50px;
        background-size: contain;
        background-size: 60%;
        background-position-x: 7px;
        background-position-y: 14px;
    }

    #ardTrans .transOne{
        background: url(../images/tayne.svg) no-repeat;
        width: 50px;
        height: 50px;
        background-size: contain;
        background-size: 60%;
        background-position-x: 7px;
        background-position-y: 14px;
    }

    #athTrans .transOne{
        background: url(../images/shopping.svg) no-repeat;
        width: 50px;
        height: 50px;
        background-size: contain;
        background-size: 60%;
        background-position-x: 7px;
        background-position-y: 14px;
    }

    .viewMore {
        width: 100%;
        height: 50px;
        background: #eee;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        display: flex;
    }

    .viewMore a {
        font-size: 16px;
        margin: auto;
    }

    .left {
        width: 50%;
        height: 100px;
        display: flex;
        flex-direction: column;
    }

    .right {
        width: 50%;
        height: 100px;
        display: flex;
    }

    .left h4 {
        margin: auto;
    }

    .boxTwo .left {
        text-align: center;
        padding-top: 30px;
    }

    .boxThree .left {
        text-align: center;
        padding-top: 30px;
    }

    .boxTwo .bottom {
        margin: auto;
    }

    .boxThree .bottom {
        margin: auto;
    }

    .boxTwo p {
        font-size: 10px;
    }

    .boxThree p {
        font-size: 10px;
    }

    .right h3 {
        margin: auto;
    }

    .left p {
        margin-left: 25px;
        margin-top: -5px;
    }

    .home {
        background: url(../images/pinkhome.svg) no-repeat;
        width: 40px;
        height: 40px;
        background-position-x: 8px;
        background-position-y: 8px;
    }

    .fudge {
        background: url(../images/budge.svg) no-repeat;
        width: 40px;
        height: 40px;
        background-position-x: 8px;
        background-position-y: 8px;
    }

    .bank {
        background: url(../images/bank.svg) no-repeat;
        width:40px;
        height: 40px;
        background-position-x: 8px;
        background-position-y: 8px;
    }

    .calc {
        background: url(../images/calc.svg) no-repeat;
        width: 40px;
        height: 40px;
        background-position-x: 8px;
        background-position-y: 8px;
    }

    .user {
        background: url(../images/user.svg) no-repeat;
        width: 40px;
        height: 40px;
        background-position-x: 8px;
        background-position-y: 8px;
    }

}