* {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 100vw;
    height: 100vh;
}

.hero {
    width: 100vw;
	height: 100vh;
	background-image: url(../images/japan.jpg);
	background-repeat: no-repeat;
    background-position: center;  
    display: flex;
}

.banner {
    width: 100vw;
    height: 25vh;
    background-color: rgba(0,255,56,0.9);
    margin: auto;
    display: flex;
}

.hero h1{
    color: #fff;
    margin: auto;
}